<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
		AND USER_PASSWORD = ?
		AND STATUS = 'Y'
	</entry>
	

	<entry key="insertMember">
	INSERT INTO MEMBER(
						USER_NO
						,USER_ID
						,USER_PASSWORD
						,USER_NICKNAME
						,USER_NAME
						,EMAIL
						,PHONE
						,ENROLLDATE
						,GENDER
						,ADDRESS
						,PREFER
						,IMAGES
						,STATUS
						)
						VALUES(
						SEQ_MNO.NEXTVAL, ?, ?, ?, ?, ?, ?, DEFAULT, ?, ?, ?, null, 'Y')
	</entry>
	
	
	<entry key="idDuplCheck">
		SELECT COUNT(*) COUNT
		FROM MEMBER
		WHERE USER_ID = ?
		AND STATUS = 'Y'
	</entry>
	
	
	<entry key="phoneDuplCheck">
		SELECT COUNT(*) COUNT
		FROM MEMBER
		WHERE PHONE = ?
		AND STATUS = 'Y'
	</entry>

	
	<entry key="deleteMember">
		UPDATE MEMBER SET
		STATUS = 'N'
		WHERE USER_NO = ?
		AND USER_PASSWORD = ?
		AND STATUS = 'Y'
	</entry>
	
</properties>