<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="reservationListCount">
		SELECT COUNT(*) AS COUNT
		FROM PLAYER
		WHERE USER_ID = ?
		AND STATUS = 'Y'
	</entry>


	<entry key="selectMyReservationList">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
              FROM(                            
                    SELECT
					B.BOARD_NO AS BOARDNO
					,BOARD_TITLE
					,BOARD_CONTENT
					,B.CREATE_DATE AS BOARD_CREATEDATE
					,REPLY_NO
					,REPLY_CONTENT
					,R.CREATE_DATE AS REPLY_CREATEDATE
					FROM BOARD B JOIN REPLY R
					ON(B.BOARD_NO = R.BOARD_NO)
					WHERE USER_ID = ?
					ORDER BY R.CREATE_DATE
                 ) A
              )
        WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>